body {
    font-family: 'Inter';
    font-size: 12px;
    padding: 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

header img {
    height: 40%;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a{
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    gap: 1.5em;
    margin-bottom: 64px;
    height: 350px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 70%;
}

.banner img {
    width: 100%;
    height: 50%;
}

.banner-contents {
    display: flex;
}

.banner-contents div{
    width: fit-content;
}

.banner-contents div h1 {
    font-weight:800;
    font-size: 2rem;
}

.latest-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 1rem;
    width: 30%;
}

.latest-news h1 {
    color: hsl(35, 77%, 62%);
    margin: 0;
}

.latest-news div:nth-of-type(1), .latest-news div:nth-of-type(2){
    padding-bottom: 1em;
    border-bottom: .5px solid hsl(233, 8%, 79%);
}

.stories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.stories img {
    height: 100%;
    margin-right: 1.5em;
}

.stories div {
    display: flex;
}

.stories div div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stories h2{
    color: hsl(233, 8%, 79%);
}

.stories p{
    color: hsl(236, 13%, 42%);
}

.stories div div > * {
    margin: 0;
}
